@model IEnumerable<Telephone_Contact_Application_Eron.Models.Kategori>

@{
    ViewBag.Title = "ApiList";
}

<h2>ApiList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KategoriAdi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.KategoriAdi)
    </td>
    <td>
        @Html.ActionLink("Edit", "CategoryEdit", new { id = item.ID }) |
        @Html.ActionLink("Details", "PersonList", new { id = item.ID, name = item.KategoriAdi }) |
        @Html.ActionLink("Delete", "CategoryDelete", new { id = item.ID })
        @Html.ActionLink("Delete", "PersonAdd", new { id = item.ID })
    </td>
</tr>
}

</table>
